html,
body {
  height: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }

  #ticket-print,
  #ticket-print * {
    visibility: visible;
  }

  #ticket-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
